:root {
  /* Text */
  --text-primary: #171719;
  --text-secondary: #37383c;
  --text-tertiary: #878a93;
  --text-quaternary: #c2c4c8;
  --text-brand: #0066ff;
  --text-brand-invert: #ffffff;
  --text-negative: #ff4242;

  /* Background */
  --background-primary: #ffffff;

  /* Surface */
  --surface-primary: #70737c14;
  --surface-secondary: #70737c29;

  /* Button */
  --button-primary: #0066ff;
  --button-disable: #f4f4f5;

  /* Line */
  --line-primary: #70737c38;
  --line-secondary: #70737c29;
  --line-brand: #0066ff;

  /* Icon */
  --icon-primary: #171719;
  --icon-secondary: #37383c;
  --icon-tertiary: #878a93;
  --icon-quaternary: #c2c4c8;
  --icon-brand: #0066ff;
}
